/*
 * Sidebar
 */

 .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    /* background-color: #2470dc; */
    background-color: #fffeff;
    box-shadow: inset -1px 0 0 rgba(222, 231, 255, 0.855);
  }

  .nav {
    padding-left: 5%;
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    /* color: #333; */
    /* color: rgb(248, 248, 248); */
    color: #2470dc;
    margin-right: 15px;
    border-radius: 20px 20px 20px 20px;
    transition: all 0.3s;
    margin-top: 0.5em;

  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    /* background-color: white; */
    background-color: #2470dc;
    border-radius: 20px 20px 20px 20px;
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.855);

    margin-right: 15px;
    /* color: #2470dc; */
    color: #fcfdff;
  }

  .sidebar .nav-link:hover {
    /* background-color: white; */
    margin-right: 15px;
    background-color: #4f8bdf;
    border-radius: 20px 20px 20px 20px;
    box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.855);

    /* color: #2470dc; */
    color: #fcfdff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  